h1, h2 {
  margin-bottom: 2em;
}

footer p {
  padding-top: 2em;
}

.error {
  margin-top: -3em;
}

#error {
  margin-left: 1em;
}

.button-holders .row {
  margin-bottom: 1em;
  text-align: center;
}

.button-holders button {
  margin-left: auto;
  margin-right: auto;
}
